@import "tailwindcss";

:root {
  --background: #ff5e5e;
  --foreground: #ff4343;
  --pokeball-bg: url("/images/pokeball-background.webp");
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: rgb(255, 94, 94, 0.95) url("/images/pokeball-background.webp")
    space;
  background-size: 75px;
  background-blend-mode: overlay;
  -webkit-backdrop-filter: blur(0.1em);
  backdrop-filter: blur(0.1em);
  color: var(--foreground);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif,
    Helvetica, sans-serif;
}
